:invalid, :-moz-submit-invalid, :-moz-ui-invalid, :-moz-focus-inner {
    border: none;
    box-shadow: none;
}

input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    box-shadow: none;
    color: white;
    outline: none;
    transition: border-bottom .15s ease-in-out;
}
input[type="text"]:invalid {
    border-bottom: 1px solid $filesRed;
}

.btn {
    @extend .noselect;

    background-color: $filesGreen;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.5;
    padding: .375rem .75rem;
    text-align: center;
    text-decoration: none;
    transition: background-color .15s ease-in-out, color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    vertical-align: middle;
    white-space: nowrap;
}

.btn.active, .btn:hover, .btn:focus {
    background-color: rgba($filesGreen, 0.6);
    transition: background-color .15s ease-in-out, color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.codemirror {
    .CodeMirror-gutter-wrapper {
        // fix for iPhone select all button not working
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .CodeMirror-vscrollbar {
        right: 1px;
    }
}
.monaco-editor, .codemirror {
    textarea, textarea:focus {
        font-size: 16px !important;
    }
}

.divider {
    cursor: default;
    text-align: center;

    width: 95%;

    .divider-line {
        display: block;
        border-bottom: 1px solid rgba($filesGreyLight, 0.8);
        width: 100%;
    }

    .divider-text {
        display: flex;
        align-items: center;
    
        color: $filesGreyLight;
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        width: 100%;
    }
    .divider-text::before {
        border-bottom: 1px solid rgba($filesGreyLight, 0.8);
        content: '';
        flex-grow: 1;
        height: 1px;
        margin-right: 8px;
    }
    .divider-text::after {
        border-bottom: 1px solid rgba($filesGreyLight, 0.8);
        content: '';
        flex-grow: 1;
        height: 1px;
        margin-left: 8px;
    }
}
.divider.vertical {
    height: 95%;
    width: auto;

    .divider-line {
        border-bottom: none;
        border-right: 1px solid rgba($filesGreyLight, 0.8);
        height: 100%;
        width: auto;
    }
}