.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.left {float: left;}
.right {float: right;}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

select {
    background-color: $filesBlack;
    border: none;
    border-radius: 5px;
    color: white;
    font: 400 13.3333px Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
    text-align-last: center;
    padding: 5px;

    option:focus, option:hover {
        @include vp-box-shadow(0 0 10px 100px $filesGreyDark inset);
    }
}


textarea:focus, input:focus, select:focus,
:invalid, :-moz-submit-invalid, :-moz-ui-invalid, :-moz-focus-inner {
    @include vp-box-shadow(none);

    border: none;
}

input[type="text"] {
    @include vp-transition(border-bottom .15s ease-in-out);

    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    box-shadow: none;
    color: white;
    outline: none;
}
input[type="text"]:invalid {
    border-bottom: 1px solid $filesRed;
}


.btn {
    @include vp-transition(
        background-color .15s ease-in-out,
        color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out);

    @extend .noselect;

    background-color: $filesGreen;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.5;
    padding: .375rem .75rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}
.btn.active, .btn:hover, .btn:focus {
    background-color: rgba($filesGreen, 0.6);
}


.codemirror {
    .CodeMirror-gutter-wrapper {
        // fix for iPhone select all button not working
        @extend .noselect;
    }
    .CodeMirror-vscrollbar {
        right: 1px;
    }
}
.codemirror, .monaco-editor {
    textarea, textarea:focus {
        font-size: 16px !important;
    }
}


.divider {
    cursor: default;
    text-align: center;

    width: 95%;

    .divider-line {
        display: block;
        border-bottom: 1px solid rgba($filesGreyLight, 0.8);
        width: 100%;
    }

    .divider-text {
        display: flex;
        align-items: center;
    
        color: $filesGreyLight;
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        width: 100%;
    }
    .divider-text::before {
        border-bottom: 1px solid rgba($filesGreyLight, 0.8);
        content: '';
        flex-grow: 1;
        height: 1px;
        margin-right: 8px;
    }
    .divider-text::after {
        border-bottom: 1px solid rgba($filesGreyLight, 0.8);
        content: '';
        flex-grow: 1;
        height: 1px;
        margin-left: 8px;
    }
}
.divider.vertical {
    height: 95%;
    width: auto;

    .divider-line {
        border-bottom: none;
        border-right: 1px solid rgba($filesGreyLight, 0.8);
        height: 100%;
        width: auto;
    }
}
