input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    outline: none;
}

.btn {
    @extend .noselect;

    background-color: $filesGreen;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.5;
    padding: .375rem .75rem;
    text-align: center;
    text-decoration: none;
    transition: background-color .15s ease-in-out, color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    vertical-align: middle;
    white-space: nowrap;
}

.btn.active, .btn:hover, .btn:focus {
    background-color: $filesGreenDark;
    transition: background-color .15s ease-in-out, color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.monaco-editor {
    textarea {
        font-size: initial !important;
    }
}
