@import '../../../node_modules/sass-autoprefixer/scss/prefixes';

@import './variables';


html, body {
    background-color: $filesGrey;
    color: white;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;

    scrollbar-color: rgb(30, 33, 36) rgb(47, 49, 54);
    scrollbar-color: dark;

    -webkit-overflow-scrolling: touch;

    // Text Readability
    font-feature-settings: 'liga';
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


.app {
    @include vp-flexbox;
    @include vp-flex-direction(column);

    min-height: 100%;
    min-width: 100%;
    position: absolute;
}

// import down here so the stuff above doesn't overwrite

@import './scrollbar';
@import './generic-styles';
@import './icons';
@import './components';