@import './variables';

html, body {
    background-color: $filesGrey;
    color: white;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;

    -webkit-overflow-scrolling: touch;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-clip: padding-box;
    background-color: rgb(47, 49, 54);
    border: 2px solid rgb(54, 57, 62);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: rgb(30, 33, 36);
    border: 2px solid rgb(54, 57, 62);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(33, 36, 39);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.left {
    float: left;
}
.right {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

select {
    background-color: $filesBlack;
    border: none;
    border-radius: 5px;
    color: white;
    font: 400 13.3333px Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
    text-align-last: center;
    padding: 5px;
}
option:focus, option:hover {
    box-shadow: 0 0 10px 100px $filesGreyDark inset;
}


textarea:focus, input:focus, select:focus {
    border: none;
    outline: none;
}


// import down here so the stuff above doesn't overwrite

@import './generic-styles';
@import './icons';
@import './components';
