$filesGreen: rgb(67, 181, 129);
$filesGreenDark: rgb(47, 161, 109);

$filesGrey: rgb(54, 57, 62);
$filesGreyDark: rgb(42, 45, 50);
$filesGreyLightish: rgb(72, 75, 81);
$filesGreyLight: rgb(114, 118, 125);

$filesBlack: rgb(32, 34, 37);

$filesBlue: rgb(40, 121, 255);
$filesBlueDark: rgb(20, 101, 235);

$filesRed: rgb(240, 71, 71);
$filesYellow: rgb(250, 166, 26);

$blurple: rgb(114, 137, 218);
$blurpleDark: rgb(103, 123, 196);