@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/prismjs/themes/prism-tomorrow';

@import './variables';
@import './components';

body {
	font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
	background-color: $filesGrey;
	color: white;
}

html, body, #app {
	height: 100%;
	max-width: 100%;
}

#app {
	@extend .d-flex;
	@extend .flex-column;
}

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	background-color: rgb(47, 49, 54);
	background-clip: padding-box;
	border-radius: 6px;
	border: 2px solid $filesGrey;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(30, 33, 36);
	background-clip: padding-box;
	border-radius: 6px;
	border: 2px solid $filesGrey;
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgb(33, 36, 39);
}