.page.auth-login {
    @extend .noselect;

    display: flex;
    flex-direction: column;

    .auth-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: $filesBlack;
        border-radius: 15px;
        margin-top: 15px;
        min-width: 600px;
        padding: 5px 10px;
        position: relative;

        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;

            height: 90%;
            width: 90%;

            padding: 40px;

            .title {
                text-align: center;

                .header {
                    color: white;
                    font-size: 26px;
                    font-weight: 300;
                    line-height: 32px;
                }
            }

            .information {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .fields {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    margin: 10px 0;

                    input, input:focus {
                        background-color: transparent;
                        border: none;
                        color: white;
                        outline: none;
                    }

                    input {
                        font-size: 16px;
                        font-weight: 400;

                        border-bottom: 1px solid $filesGreyLightish;
                        transition: border-bottom .15s;
                    }
                    input:focus {
                        border-bottom: 1px solid $filesGreen;
                        transition: border-bottom .15s;
                    }

                    .field {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        margin: 12px 0;

                        .label {
                            color: $filesGreyLighter;
                            font-size: 12px;
                            letter-spacing: .5px;
                            width: 100%;

                            transition: color .15s;

                            .type {
                                font-weight: 600;
                                text-transform: uppercase;
                            }

                            .error {
                                font-style: 'italic';
                                font-weight: 400;

                                .separator {
                                    padding: 0 4px;
                                }
                            }
                        }
                        .label.active {
                            color: $filesGreen;
                            transition: color .15s;
                        }

                        input {
                            margin-top: 6px;
                            min-width: 15vw;
                            padding: 6px 0;
                            width: 100%;
                        }
                    }

                    .field.invalid {
                        .label {
                            span {
                                color: $filesRed;
                                transition: color .15s;
                            }
                        }
                        input {
                            border-bottom: 1px solid $filesRed;
                        }
                    }
                }

                .forgot {
                    display: flex;
                    flex-direction: row;

                    color: $filesGreyLight;
                    font-size: 14px;
                    line-height: 16px;
                    margin: 10px 0;
                    width: 100%;

                    span {
                        color: $filesGreen;
                        cursor: pointer;
                        margin: 0 4px;
                        transition: color .15s;
                    }
                    span:hover {
                        color: $filesGreenDark;
                        transition: color .15s;
                    }
                }

                .submit {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    margin: 5px 0;

                    span {
                        @extend .button;

                        width: 100%;
                    }
                }

                .flip {
                    display: flex;
                    flex-direction: row;

                    color: $filesGreyLight;
                    font-size: 14px;
                    line-height: 16px;
                    margin: 10px 0;
                    width: 100%;

                    span {
                        margin: 0 4px;
                    }

                    .flipper {
                        color: $filesGreen;
                        cursor: pointer;
                        transition: color .15s;
                    }
                    .flipper:hover {
                        color: $filesGreenDark;
                        transition: color .15s;
                    }
                }

                .captcha {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin-top: 60px;

                    .g-recaptcha {
                        margin: 8px;

                        right: 0;
                        bottom: 0;
                        position: absolute;

                        .grecaptcha-badge {
                            box-shadow: $filesGrey 0px 0px 5px !important;
                        }
                    }
                }
            }
        }
    }
}