.page.home {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .main-modal {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        height: 70vh;
        width: 75vw;

        min-height: 650px;

        background-color: $filesGreyDark;
        border-radius: 5px;
        box-shadow: 0 9px 30px rgba(6, 6, 7, 0.3);
        box-sizing: border-box;
        margin-top: 10px;
        margin-bottom: 25px;
        padding: 10px;

        .embed {
            flex-shrink: 0;
            height: 100%;
        }
        .upload {
            width: 52%;

            display: flex;
            flex-direction: column;

            .types {
                display: flex;
                flex-direction: row;
                justify-content: center;

                height: 35px;
                margin: 10px 0;

                span {
                    @extend .noselect;

                    font-size: 24px;
                    font-weight: 600;
                    text-align: center;
                    text-transform: uppercase;

                    color: rgba(255, 255, 255, 0.4);
                    cursor: pointer;
                    margin: 0 10px;
                    transition: color .15s ease-in-out;
                }
                span:hover, span:focus, span.active {
                    color: $filesGreen;
                }
            }

            .component {
                height: calc(100% - 55px);

                .upload-modal {
                    height: 100%;
                    width: 100%;
                }

                .upload-modal.audio {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span {
                        font-size: 30px;
                        font-weight: 600;
                        text-align: center;
                        text-transform: uppercase;
                    }
                }

                .upload-modal.file {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .drag-n-drop {
                        height: 95%;
                        width: 95%;
                        border: 2px dashed rgba($filesGreen, 0.8);
                        border-radius: 5px;
                        transition: border .15s ease-in-out;

                        .content {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            height: 100%;
                            width: 100%;

                            .header {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;

                                span {
                                    opacity: 0.4;
                                    text-align: center;
                                    transition: opacity .15s ease-in-out;
                                }
                                .title {
                                    font-size: 20px;
                                }
                                .description {
                                    font-size: 16px;
                                }
                            }
                            .fields {
                                margin-top: 25px;

                                .field {
                                    .button {
                                        @extend .btn;
                                    }
                                }
                            }
                        }
                    }
                    .drag-n-drop:hover, .drag-n-drop:focus {
                        border: 2px dashed rgba($filesGreen, 0.6);

                        .content {
                            .header {
                                span {
                                    opacity: 0.35;
                                }
                            }
                            .fields {
                                .field {
                                    .button {
                                        background-color: rgba($filesGreen, 0.7);
                                    }
                                }
                            }
                        }
                    }

                    .selected-files {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        height: 95%;
                        width: 95%;

                        background-color: $filesBlack;
                        border-radius: 5px;
                        box-shadow: 0 9px 30px rgba(6, 6, 7, 0.3);
                        box-sizing: border-box;

                        .files-wrapper {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            height: 80%;
                            width: 100%;
                        }

                        .selector {
                            @extend .noselect;

                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;

                            height: 20%;
                            width: 95%;

                            .picker {
                                height: 75%;

                                .text {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: center;

                                    height: 100%;
                                    span {
                                        color: $filesGreen;
                                        font-size: 22px;
                                        line-height: 1;
                                        margin: 0 5px;
                                        text-align: center;
                                        transition: color .15s ease-in-out;
                                    }
                                    span:hover, span:focus {
                                        color: rgba($filesGreen, 0.6);
                                        transition: color .15s ease-in-out;
                                    }
                                }
                            }
                        }

                        .settings {
                            //height: 12%;
                            //width: 100%;
                        }
                    }
                }

                .upload-modal.text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .header {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;

                        margin: 5px 0;
                        width: 95%;

                        .languages {
                            justify-self: center;
                        }

                        .submit {
                            @extend .noselect;

                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            color: $filesGreen;
                            cursor: pointer;
                            transition: color .15s ease-in-out;

                            span {
                                margin-left: 4px;
                            }
                        }
                        .submit:hover, .submit:focus {
                            color: rgba($filesGreen, 0.7);
                        }
                        .submit.disabled, .submit.disabled:hover, .submit.disabled:focus {
                            color: $filesRed;
                            cursor: not-allowed;
                        }
                    }

                    .media-container {
                        height: 95%;
                        width: 95%;
                    }
                }
            }
        }

        .information {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 48%;

            .files-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;

                height: 100%;
                width: 99%;
                overflow: auto;
                margin-top: 10px;
                padding-bottom: 10px;
            }

            .introduction {
                display: flex;
                flex-direction: column;

                height: 100%;

                .content {
                    height: 100%;

                    .header {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height: 80%;

                        .title {
                            font-size: 30px;
                            font-weight: 600;
                            text-align: center;
                            text-transform: uppercase;
                        }

                        .description {
                            opacity: 0.4;
                            text-align: center;
                        }
                    }
                    .footer {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-end;
                        justify-content: flex-end;

                        height: 20%;
                    }
                }
            }

            .flipper {
                @extend .noselect;

                align-self: flex-end;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                span {
                    color: $filesGreen;
                    cursor: pointer;
                    padding: 5px;
                    transition: color .15s;
                }
                span:hover {
                    color: rgba($filesGreen, 0.6);
                    transition: color .15s;
                }
            }
        }
    }

    .files-wrapper {
        .divider {
            margin: 5px 0;
            width: 95%;
        }

        .files {
            flex-shrink: 0;

            display: flex;
            flex-direction: column;
            align-items: center;

            width: 100%;

            .file {
                flex-shrink: 0;
                display: flex;
                flex-direction: column;

                min-height: 64px;
                width: 95%;

                background-color: $filesGrey;
                border-radius: 5px;
                box-shadow: 0 9px 30px rgba(6, 6, 7, 0.3);
                box-sizing: border-box;
                margin: 5px 0;

                .header {
                    display: flex;
                    flex-direction: row;

                    height: 60px;
                    width: 100%;

                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        color: $filesGreyLight;
                        margin: 0 10px;

                        .material-icons {
                            font-size: 32px;
                        }
                    }

                    .description {
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        min-width: 0;

                        .filename {
                            color: $filesGreyLightest;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        .filesize {
                            color: $filesGreyLight;
                        }
                    }

                    .buttons {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-around;

                        i {
                            color: $filesGreen;
                            cursor: pointer;
                            margin: 0 10px;
                            transition: .15s color ease;
                        }
                        i:hover, i:focus {
                            color: rgba($filesGreen, 0.6);
                            transition: .15s color ease;
                        }
                        .action-retry {
                            color: $filesYellow;
                        }
                        .action-retry:hover, .action-retry:focus {
                            color: rgba($filesYellow, 0.6);
                        }
                        .action-remove {
                            color: $filesRed;
                        }
                        .action-remove:hover, .action-remove:focus {
                            color: rgba($filesRed, 0.6);
                        }
                    }
                }

                .footer {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 5px 0;

                    span {
                        color: $filesGreyLightest;
                    }
                }

                .expanded-content {
                    @extend .noselect;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    height: auto;
                    width: 100%;
                    background-color: rgba($filesBlack, 0.7);
                    border-left: 1px solid rgba($filesGreyLight, 0.8);
                    border-right: 1px solid rgba($filesGreyLight, 0.8);
                    border-bottom: 1px solid rgba($filesGreyLight, 0.8);
                    border-radius: 0 0 5px 5px;
                    box-sizing: border-box;
                    color: $filesGreyLighter;

                    .thumbnail {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        max-width: 100%;
                        width: 100%;

                        margin: 10px 0;

                        .media-container {
                            max-width: 100%;
                            width: 250px;

                            .compact > img, video {
                                max-height: 250px;
                            }
                        }
                        .media-container.audio {
                            width: 95%;
                            .media-controls {
                                border-radius: 5px;
                            }
                        }
                        .media-container.text {
                            height: 250px;
                            width: 95%;
                        }
                        .media-container.fullscreen {
                            width: 100vw;
                        }
                    }

                    .mimetype {
                        margin: 10px;
                    }
                }

                .expander {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    height: 10px;
                    width: 100%;
                    background-color: $filesGreyLight;
                    border-radius: 0 0 5px 5px;
                    cursor: pointer;
                    position: relative;
                    transition: background-color .15s ease-in-out, border-radius .15s ease-in-out;

                    i {
                        font-size: 18px;
                        position: absolute;
                    }

                    .fill {
                        background-color: $filesGreen;
                        border-radius: 0 0 5px 5px;
                        height: 100%;
                        left: 0;
                        position: absolute;

                        transition: color .15s ease-in-out, border-radius .15s ease-in-out;
                    }
                    .fill.filling {
                        background-color: $filesYellow;
                        border-radius: 0 0 0 5px;
                    }
                    .fill.error {
                        background-color: $filesRed;
                        cursor: default;
                        width: 100%;
                    }
                }
                .expander:hover, .expander:focus,
                .expander.active,
                .expander.active:hover, .expander.active:focus {
                    background-color: rgba($filesGreyLight, 0.8);

                    .fill {
                        background-color: rgba($filesGreen, 0.8);
                    }
                    .fill.filling {
                        background-color: rgba($filesYellow, 0.8);
                    }
                    .fill.error {
                        background-color: $filesRed;
                    }
                }
                .expander.active {
                    border-radius: 0;

                    .fill {
                        border-radius: 0;
                    }
                    .fill.filling {
                        border-radius: 0;
                    }
                }
            }
        }

        .modal {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-size:  14px;
                opacity: 0.4;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }

    @media only screen and (max-width: 1300px) {
        .main-modal {
            width: 90vw;
        }
    }

    .picker {
        cursor: pointer;
    }
    input[type="file"] {
        display: none;
    }
}

.app.mobile {
    .page.home {
        .main-modal {
            flex-direction: column;

            height: 120vh;
            width: 90vw;

            min-height: 850px;

            .upload {
                height: 52%;
                width: 100%;
            }
            .information {
                height: 48%;
                width: 100%;
            }
        }
    }
}

/*
.page.home {
    display: flex;
    flex-direction: column;

    .title {

    }

    .upload {
        margin-top: 25px;
        max-width: 90vw;
        width: 600px;
        min-width: 75vw;

        .upload-types {
            display: flex;
            flex-direction: row;
            justify-content: center;

            margin-bottom: 25px;

            span {
                @extend .btn;

                background-color: $filesBlue;
                margin: 0 10px;
            }
            span:hover, span:focus, span.active {
                background-color: $filesBlueDark;
            }
            span.active  {
                cursor: not-allowed;
            }
        }

        .upload-type {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 100%;

            .languages {
                align-self: center;
                margin: 10px 0;

                max-width: 100%;
                min-width: 10vw;

                select {
                    color: $filesGreyLighter;
                    height: 100%;
                    width: 100%;
                }
            }

            .media-container {
                width: 100%;
            }
            .media-container.text {
                height: 50vh;
            }

            .file {
                display: flex;
                flex-direction: column;
                align-items: center;

                .picker {
                    margin-bottom: 10px;

                    input {
                        display: none;
                    }
                    label {
                        @extend .btn;

                        background-color: $filesBlue;
                    }
                    label:focus, label:hover {
                        background-color: $filesBlueDark;
                    }
                }
            }

            .thumbnail {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        .options {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            margin: 30px 0;

            .submit {
                @extend .btn;

                width: 60%;
            }

            .submit.disabled {
                background-color: $filesRed;
                cursor: not-allowed;

                transition: background-color .15s ease-in-out;
            }
        }
    }

    .uploads {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
*/