.page.info-options {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .option-modal {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        height: 70vh;
        width: 75vw;

        min-height: 650px;

        background-color: $filesGreyDark;
        border-radius: 5px;
        box-shadow: 0 9px 30px rgba(6, 6, 7, 0.3);
        box-sizing: border-box;
        margin-top: 10px;
        margin-bottom: 25px;
        padding: 10px;

        .navigation {
            display: flex;
            flex-direction: column;

            height: 100%;
            padding: 0 5px;

            .section {
                @extend .noselect;

                flex-shrink: 0;
                display: flex;
                flex-direction: column;

                .divider {
                    margin: 10px 0;
                    width: 100%;
                }

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .title {
                    box-sizing: border-box;
                    color: $filesGreyLight;
                    padding: 5px 10px;
                    width: 100%;

                    span {
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 16px;
                        text-transform: uppercase;
                    }
                }
                .option {
                    border-radius: 5px;
                    box-sizing: border-box;
                    color: $filesGreyLighter;
                    cursor: pointer;
                    margin-bottom: 10px;
                    padding: 10px;
                    width: 100%;
                    transition: color .15s ease-in-out, background-color .15s ease-in-out;

                    span {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 20px;
                    }
                }
                .option:hover, .option:focus {
                    background-color: $filesGrey;
                    color: white;
                }
                .option.active {
                    background-color: $filesGreyLightish;
                    color: white;
                }
            }
        }
        .content {
            display: flex;
            flex-direction: column;

            height: 100%;
            width: 100%;

            .modal {
                align-self: flex-end;
                height: 100%;
                width: 95%;

                overflow: auto;

                .section {
                    width: 95%;

                    .header {
                        display: flex;
                        flex-direction: column;

                        margin-bottom: 10px;

                        span {
                            color: white;
                            font-size: 12px;
                            margin-bottom: 2px;
                            opacity: 0.6;
                        }
                        span.title {
                            font-size: 16px;
                            font-weight: 700;
                            opacity: 1;
                            text-transform: uppercase;
                        }
                    }

                    .fields {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .field {
                            margin-bottom: 10px;
                            width: 100%;

                            .text-editor {
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                height: 300px;
                                width: 100%;
                            }

                            .items {
                                display: flex;
                                flex-direction: column;

                                .item {
                                    flex-grow: 1;
                                    display: flex;
                                    flex-direction: row;

                                    background-color: $filesBlack;
                                    border-radius: 5px;
                                    border: 1px solid black;
                                    cursor: pointer;
                                    margin-bottom: 5px;
                                    padding: 10px;

                                    input {
                                        height: 24px;
                                        width: 24px;
                                        display: none;
                                    }

                                    .checkbox {
                                        border: 1px solid $filesGreyLight;
                                        border-radius: 3px;
                                        height: 24px;
                                        width: 24px;
                                        position: relative;
                                        transition: background-color .15s ease-in-out, border .15s ease-in-out;
                                    }
                                    .checkbox:after {
                                        content: '';
                                        display: none;
                                        position: absolute;
                                    }
                                    input:checked ~ .checkbox {
                                        background-color: $filesGreen;
                                        border: 1px solid $filesGreen;
                                    }
                                    input:checked ~ .checkbox:after {
                                        display: block;
                                        left: 9px;
                                        top: 5px;
                                        width: 5px;
                                        height: 10px;
                                        border: solid white;
                                        border-width: 0 3px 3px 0;
                                        -webkit-transform: rotate(45deg);
                                        -ms-transform: rotate(45deg);
                                        transform: rotate(45deg);
                                    }

                                    .label {
                                        display: flex;
                                        align-items: center;

                                        margin: 0 9px;

                                        span {
                                            font-size: 16px;
                                            font-weight: 500;
                                            line-height: 24px;
                                        }
                                    }
                                }
                                .item:hover {
                                    .checkbox {
                                        background-color: rgba($filesGreen, 0.7);
                                        border: 1px solid rgba($filesGreen, 0.7);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.app.mobile {
    .page.info-options {
        .option-modal {
            width: 95vw;
        }
    }
}