nav.file-nav {
	@extend .navbar;
	@extend .navbar-expand-lg;
	@extend .navbar-expand-md;
	@extend .navbar-dark;
	@extend .flex-shrink-0;

	background-color: rgb(47, 49, 54);

	.navbar-brand {
		@extend .d-flex;
		@extend .flex-row;
		@extend .align-items-center;

		i {
			height: 30px;
			width: 30px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			margin: 0 0.5vmin 0 0;
		}
		i.logo {
			background-image: url('/assets/img/logo.png');
		}
	}

	.nav-category {
		@extend .navbar-nav;
		@extend .d-none;
		@extend .d-md-flex;
		@extend .d-lg-flex;
	}
	.nav-category-left {
		@extend .nav-category;
		@extend .mr-auto;
	}
	.nav-category-right {
		@extend .nav-category;
		@extend .ml-auto;
	}

	.nav-link.link {
		color: $filesGreen !important;
	}
	.nav-link.link:hover {
		color: $filesGreenDark !important;
	}
}