.files-modal {
    flex-grow: 0;
    flex-shrink: 0;

    display: flex;
    flex-direction: row;

    background-color: rgba($filesBlack, 0.9);
    border: 1px solid rgba($filesBlack, 0.95);
    border-radius: 5px 0 0 5px;

    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    position: fixed;

    min-height: 500px;
    height: 40vh;
    max-width: 30vw;

    .main-expander {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: rgba($filesBlack, 0.95);
        border-right: 1px solid $filesBlack;
        border-radius: 5px 0 0 5px;
        cursor: pointer;

        height: 100%;

        i {
            transform: rotate(-90deg);
        }
    }

    .main-expanded-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        min-width: 20vw;
        padding-bottom: 10px;

        overflow: auto;

        .picker {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            input {
                display: none;
            }

            .text {
                flex-grow: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                color: $filesGreen;
                cursor: pointer;

                font-size: 12px;
                line-height: 1;
                padding: 5px;
                text-align: center;
                transition: color .15s ease-in-out;

                .material-icons {
                    font-size: 12px;
                    margin-right: 2px;
                }
            }
            .text:hover, .text:focus {
                color: rgba($filesGreen, 0.6);
                transition: color .15s ease-in-out;
            }
        }

        .divider {
            margin: 5px 0;
            width: 95%;
        }

        .files {
            flex-shrink: 0;

            display: flex;
            flex-direction: column;
            align-items: center;

            width: 100%;

            .file {
                flex-shrink: 0;
                display: flex;
                flex-direction: column;

                min-height: 64px;
                width: 95%;

                background-color: $filesGrey;
                border-radius: 5px;
                margin: 5px 0;

                .header {
                    display: flex;
                    flex-direction: row;

                    height: 60px;
                    width: 100%;

                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        color: $filesGreyLight;
                        margin: 0 10px;

                        .material-icons {
                            font-size: 32px;
                        }
                    }

                    .description {
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        min-width: 0;

                        .filename {
                            color: $filesGreyLightest;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        .filesize {
                            color: $filesGreyLight;
                        }
                    }

                    .buttons {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-around;

                        i {
                            color: $filesGreen;
                            cursor: pointer;
                            margin: 0 10px;
                            transition: .15s color ease;
                        }
                        i:hover, i:focus {
                            color: rgba($filesGreen, 0.6);
                            transition: .15s color ease;
                        }
                        .action-retry {
                            color: $filesYellow;
                        }
                        .action-retry:hover, .action-retry:focus {
                            color: rgba($filesYellow, 0.6);
                        }
                        .action-remove {
                            color: $filesRed;
                        }
                        .action-remove:hover, .action-remove:focus {
                            color: rgba($filesRed, 0.6);
                        }
                    }
                }

                .footer {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    max-width: 100%;

                    box-sizing: border-box;
                    margin: 5px 0;
                    padding: 0 2px;

                    span {
                        color: $filesGreyLightest;
                        overflow: hidden;
                        text-align: center;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }

                .expanded-content {
                    @extend .noselect;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    height: 100%;
                    width: auto;
                    background-color: rgba($filesBlack, 0.7);
                    border-left: 1px solid rgba($filesGreyLight, 0.8);
                    border-right: 1px solid rgba($filesGreyLight, 0.8);
                    border-bottom: 1px solid rgba($filesGreyLight, 0.8);
                    border-radius: 0 0 5px 5px;
                    box-sizing: border-box;
                    color: $filesGreyLighter;

                    .thumbnail {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        max-width: 100%;
                        width: 100%;

                        margin: 10px 0;

                        .media-container {
                            max-width: 100%;
                            width: 250px;

                            picture.compact > img, video {
                                max-height: 250px;
                            }
                        }
                        .media-container.audio {
                            width: 95%;
                            .media-controls {
                                border-radius: 5px;
                            }
                        }
                        .media-container.fullscreen {
                            width: 100vw;
                        }
                        .media-container.text {
                            height: 250px;
                            width: 75%;
                        }
                    }

                    .mimetype {
                        margin: 10px;
                    }
                }

                .expander {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    height: 10px;
                    width: 100%;
                    background-color: $filesGreyLight;
                    border-radius: 0 0 5px 5px;
                    cursor: pointer;
                    position: relative;
                    transition: background-color .15s ease-in-out, border-radius .15s ease-in-out;

                    i {
                        font-size: 18px;
                        position: absolute;
                    }

                    .fill {
                        background-color: $filesGreen;
                        border-radius: 0 0 5px 5px;
                        height: 100%;
                        left: 0;
                        position: absolute;

                        transition: color .15s ease-in-out, border-radius .15s ease-in-out;
                    }
                    .fill.filling {
                        background-color: $filesYellow;
                        border-radius: 0 0 0 5px;
                    }
                    .fill.error {
                        background-color: $filesRed;
                        cursor: default;
                        width: 100%;
                    }
                }
                .expander:hover, .expander:focus,
                .expander.active,
                .expander.active:hover, .expander.active:focus {
                    background-color: rgba($filesGreyLight, 0.8);

                    .fill {
                        background-color: rgba($filesGreen, 0.8);
                    }
                    .fill.filling {
                        background-color: rgba($filesYellow, 0.8);
                    }
                    .fill.error {
                        background-color: $filesRed;
                    }
                }
                .expander.active {
                    border-radius: 0;

                    .fill {
                        border-radius: 0;
                    }
                    .fill.filling {
                        border-radius: 0;
                    }
                }
            }
        }

        .modal {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-size:  14px;
                opacity: 0.4;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
}
