.modal-file {
    @include vp-flexbox;
    @include vp-flex-direction(column);
    @include vp-justify-content(center);

    @include vp-box-shadow(0 9px 30px rgba(6, 6, 7, 0.3));
    @include vp-box-sizing(border-box);

    position: relative;

    max-height: 90vh;
    min-height: 180px;
    max-width: 90vw;
    min-width: 400px;

    margin: 10px 0;
    background-color: $filesGreyDark;
    border-radius: 5px;

    .thumbnail {
        @include vp-flex-grow(1);
        @include vp-flexbox;
        @include vp-flex-direction(column);
        @include vp-align-items(center);
        @include vp-justify-content(center);

        max-height: calc(100% - 146px);
        max-width: 100%;

        .media-container {
            border-radius: 5px 5px 0 0;

            max-height: 100%;
            max-width: 100%;
            min-height: 100%;
            min-width: 100%;

            .compact, video {
                border-radius: 5px 5px 0 0;
                min-height: 100%;
                min-width: 100%;
            }
            .compact {
                img {
                    border-radius: 5px 5px 0 0;
                    height: 100%;
                    width: 100%;

                    object-fit: contain;
                }
            }
        }

        .media-container.text {
            height: 70vh;
            width: 80vw;

            .codemirror, .monaco, .native {
                border-radius: 5px 5px 0 0;
            }
            .codemirror {
                .CodeMirror-gutters {
                    border-radius: 5px 0 0 0;
                }
            }
        }

        .media-container.audio {
            width: 60vw;

            .media-controls {
                border-radius: 5px 5px 0 0;
            }
        }

        .media-container.pdf {
            height: 80vh;
            width: 90vw;
        }

        .mime-icon {
            @include vp-flexbox;
            @include vp-align-items(center);
            @include vp-justify-content(center);

            color: $filesGreyLight;
            margin: 0 10px;

            .material-icons {
                font-size: 128px;
            }
        }
    }

    .information {
        @include vp-flexbox;
        @include vp-flex-direction(column);

        @include vp-box-sizing(border-box);

        max-width: 100%;
        padding: 0 2px;

        span {
            color: $filesGreyLight;
            padding-top: 5px;
            text-align: center;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .footer {
        @include vp-align-self(center);
        @include vp-flexbox;
        @include vp-flex-direction(column);
        @include vp-align-items(center);

        height: 146px;
        width: 100%;

        color: $filesGreyLighter;

        .information {
            @include vp-flexbox;
            @include vp-flex-direction(column);
    
            @include vp-box-sizing(border-box);
    
            max-width: 100%;
            padding: 0 2px;
    
            span {
                color: $filesGreyLight;
                padding-top: 5px;
                text-align: center;
    
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .sections {
            @include vp-flexbox;
            @include vp-flex-direction(row);
            @include vp-justify-content(space-between);

            max-width: 50vw;
            width: 100%;

            padding-top: 15px;

            .section {
                @include vp-flexbox;
                @include vp-flex-direction(column);
                @include vp-justify-content(center);

                width: 50%;
                max-width: 50vmin;

                span {
                    word-wrap: break-word;
                    max-width: 100%;
                    margin-bottom: 10px;
                }

                i {
                    max-width: 100%;
                }
            }

            .section.left {
                padding-left: 5px;

                span {
                    text-align: left;
                }
            }
            .section.right {
                padding-right: 5px;

                span {
                    text-align: right;
                }
                a {
                    @include vp-align-self(flex-end);
                }
            }
        }

        .buttons {
            @include vp-align-self(center);
            @include vp-flexbox;
            @include vp-flex-direction(row);
            @include vp-justify-content(flex-end);

            @extend .noselect;

            margin-bottom: 5px;

            .copy-link {
                @include vp-transition(color .15s ease-in-out);

                cursor: pointer;
            }
            .copy-link:hover, .copy-link:focus {
                color: rgb(174, 178, 185);
            }

            .download {
                @include vp-transition(color .15s ease-in-out);

                color: $filesGreen;
                text-decoration: none;
            }
            .download:hover, .download:focus {
                color: rgba($filesGreen, 0.6);
            }
        }

        .timestamp {
            color: $filesGreyLight;
            margin: 5px 20px;
            text-align: center;
        }
    }

    .resizer {
        @extend .noselect;

        i.both {
            @extend .material-icons;

            color: $filesGreyLight;
            cursor: nwse-resize;

            bottom: 0;
            right: 0;
            position: absolute;
        }

        .height {
            cursor: n-resize;
            height: 2px;
            width: 100%;

            left: 0;
            position: absolute;
        }
        .height.top {
            top: 0;
        }
        .height.bottom {
            bottom: 0;
        }

        .width {
            cursor: e-resize;
            height: 100%;
            width: 2px;

            top: 0;
            position: absolute;
        }
        .width.left {
            left: 0;
        }
        .width.right {
            right: 0;
        }
    }
}

@media only screen and (max-width: $mobileWidth) {
    .modal-file {
        max-height: calc(90vh + 300px);
        min-width: 280px;

        .thumbnail {
            .media-container.audio {
                width: 70vw;
            }

            .media-container.text {
                min-height: 300px;
                width: 90vw;
            }
        }
    }
}
