.media-container {
    position: relative;

    audio {
        // try to make it so the save audio as dialog appears in right click menu
        display: none;
    }

    picture, img, video {
        max-height: 100%;
        max-width: 100%;
    }

    .media-controls {
        @include vp-flexbox;
        @include vp-flex-direction(row);
        @include vp-align-items(center);

        @extend .noselect;

        height: 32px;
        width: 100%;

        background-color: $mediaBar;
        color: white;
        cursor: default;
        font-family: SourceCodePro, Consolas, Liberation Mono, Menlo, Courier, monospace;
        font-size: 12px;
        line-height: 12px;
        position: relative;
        user-select: none;
        vertical-align: text-top;
        white-space: nowrap;

        .controller {
            margin-left: 10px;
            margin-right: 5px;
            cursor: pointer;

            .control-icon {
                @include vp-box-sizing(border-box);
                @include vp-transition(all .15s ease);

                display: block;
                height: 18px;
                width: 18px;
            }
            .control-icon.play {
                border-style: solid;
                border-width: 9px 0px 9px 14px;
                border-color: transparent transparent transparent $mediaBarButtons;
                will-change: border-with;
            }
            .control-icon.pause {
                border-style: double;
                border-width: 0px 0px 0px 14px;
                border-color: $mediaBarButtons;
                will-change: border-with;
            }
        }

        .timestamp {
            margin: 0 5px;
        }

        .media-bar {
            @include vp-align-self(stretch);
            @include vp-flexbox;
            @include vp-flex-direction(column);
            @include vp-justify-content(center);

            cursor: pointer;
            margin: 0 5px;
            width: 100%;

            .media-interactive-bar {
                @include vp-align-self(stretch);
                @include vp-flexbox;
                @include vp-align-items(center);

                background-color: $mediaBarSlider;
                border-radius: 3px;
                cursor: pointer;
                position: relative;
                height: 8px;
                width: 100%;

                .seek {
                    background-color: $mediaBarSliderSeek;
                    border-radius: 3px;
                    height: 100%;

                    top: 0;
                    left: 0;
                    position: absolute;
                }

                .seek-timestamp {
                    @include vp-transform(translateX(-50%));

                    background-color: $mediaBar;
                    border-radius: 5px;
                    margin-bottom: 16px;
                    padding: 2px 5px;

                    left: 0;
                    top: -28px;
                    position: absolute;
                }
                .seek-timestamp.hidden {
                    display: none;
                }

                .progress {
                    background-color: $mediaBarProgress;
                    border-radius: 3px;
                    height: 100%;
                    position: relative;

                    .bubble {
                        @include vp-transition(
                            background-color .15s ease-in-out,
                            margin-right .15s ease-in-out,
                            margin-top .15s ease-in-out,
                            height .15s ease-in-out,
                            width .15s ease-in-out);

                        background-color: $mediaBarBubble;
                        border-radius: 50%;
                        cursor: grab;
                        display: block;
                        height: 8px;
                        width: 8px;

                        margin-right: -4px;
                        margin-top: -4px;

                        right: 0;
                        top: 50%;
                        position: absolute;
                    }
                    .bubble.active {
                        background-color: $mediaBarBubbleHover;
                        height: 12px;
                        width: 12px;

                        margin-right: -6px;
                        margin-top: -6px;
                    }
                }
            }
        }

        .icon {
            @include vp-flexbox;
            @include vp-align-items(center);

            cursor: pointer;
            height: 100%;
            padding-left: 5px;
            padding-right: 10px;
            position: relative;
        }

        .volume {
            @extend .icon;

            .volume-area {
                @include vp-flexbox;
                @include vp-flex-direction(row);
                @include vp-justify-content(flex-end);

                height: 200px;
                width: 200px;

                bottom: 50%;
                right: 0;
                position: absolute;
            }

            .interactive-slider {
                @include vp-align-self(stretch);
                @include vp-flexbox;
                @include vp-justify-content(center);

                background-color: $mediaBarVolume;
                border-top: 8px solid $mediaBarVolume;
                border-bottom: 8px solid $mediaBarVolume;
                border-radius: 10px;
                cursor: pointer;

                height: 100px;
                width: 16px;

                bottom: 100%;
                left: 25%;
                right: 25%;
                position: absolute;

                .background {
                    background-color: $mediaBarVolumeProgressBackground;
                    border-radius: 8px;
                    display: block;
                    height: 100%;
                    width: 8px;

                    bottom: 0;
                    left: 25%;
                    right: 25%;
                    position: absolute;
                }

                .volume-slider {
                    background-color: $mediaBarVolumeProgress;
                    border-radius: 8px;
                    width: 8px;

                    bottom: 0;
                    left: 25%;
                    right: 25%;
                    position: absolute;

                    .bubble {
                        @include vp-transition(
                            background-color .15s ease-in-out,
                            margin-right .15s ease-in-out,
                            margin-top .15s ease-in-out,
                            height .15s ease-in-out,
                            width .15s ease-in-out);

                        background-color: $mediaBarVolumeProgressBubble;
                        border-radius: 50%;
                        cursor: grab;
                        display: block;
                        height: 8px;
                        width: 8px;

                        margin-right: -4px;
                        margin-top: -4px;

                        top: 0;
                        right: 50%;
                        position: absolute;
                    }
                    .bubble.active {
                        background-color: $mediaBarVolumeProgressBubbleHover;
                        height: 10px;
                        width: 10px;

                        margin-right: -5px;
                        margin-top: -5px;
                    }
                }
                .volume-slider:hover, .volume-slider:focus {
                    .bubble {
                        @include vp-transition(
                            background-color .15s ease-in-out,
                            margin-right .15s ease-in-out,
                            margin-top .15s ease-in-out,
                            height .15s ease-in-out,
                            width .15s ease-in-out);

                        background-color: $mediaBarVolumeProgressBubbleHover;
                        height: 10px;
                        width: 10px;

                        margin-right: -5px;
                        margin-top: -5px;
                    }
                }
            }
        }

        .controller-fullscreen {
            @extend .icon;
        }
    }
}

.media-container.audio, .media-container.image, .media-container.video {
    @include vp-flexbox;
    @include vp-flex-direction(column);
    @include vp-align-items(center);
    @include vp-justify-content(center);
}

.media-container.video {
    .media-controls {
        width: 100%;

        left: 0;
        bottom: -1px;
        position: absolute;

        background-color: rgba($mediaBar, 0.6);
        visibility: hidden;
    }

    .media-controls.active {
        visibility: visible;
    }
}
.media-container.video.fullscreen {
    .media-controls {
        bottom: 0;
    }
}


.media-container.image {
    picture {
        @include vp-flexbox;
        @include vp-align-items(center);
        @include vp-justify-content(center);

        cursor: zoom-in;
        image-orientation: from-image;

        img {
            @include vp-box-sizing(border-box);

            border: 1px solid $filesBlack;
        }
    }
}
.media-container.image.zoom {
    @include vp-flex-shrink(0);
    @include vp-flexbox;
    @include vp-align-items(center);
    @include vp-justify-content(center);
    @include vp-transform(translate3d(0, 0, 0));

    top: 0;
    left: 0;
    margin: auto !important;
    padding: 0 !important;
    position: fixed !important;

    max-height: none !important;
    max-width: none !important;
    height: 100vh !important;
    width: 100vw !important;

    background-color: rgba(0, 0, 0, 0.5);
    cursor: zoom-out;
    z-index: 9999 !important;

    picture {
        cursor: zoom-out;

        max-height: none;
        max-width: none;
        height: 100vh;
        width: 100vw;

        img {
            border: none;
            border-radius: 5px;
            max-height: 95vh !important;
            max-width: 95vw !important;
            height: 100%;
            width: 100%;

            object-fit: contain;

            cursor: zoom-out;
        }
    }
}

.media-container.text {
    background-color: black;
    border-radius: 5px;
    overflow: hidden;

    height: 100%;
    width: 100%;

    .codemirror {
        max-height: 100%;
        max-width: 100%;
        height: 100%;
        width: 100%;

        .CodeMirror {
            height: 100%;
            width: 100%;

            .CodeMirror-scrollbar-filler {
                background: transparent !important;
            }
        }
        .CodeMirror.cm-s-tomorrow-night-bright {
            background: rgb(30, 30, 30) !important;

            .CodeMirror-gutters {
                background: rgb(30, 30, 30) !important;
            }
        }
    }

    .monaco {
        max-height: 100%;
        max-width: 100%;
        height: 100%;
        width: 100%;

        .monaco-editor {
            height: calc(100% - 6px);
            width: calc(100% - 6px);
        }
    }

    .native {
        max-height: 100%;
        max-width: 100%;
        height: 100%;
        width: 100%;

        textarea {
            height: 100%;
            width: 100%;

            background-color: rgb(30, 30, 30);
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            color: white;
            font-family: Consolas, Liberation Mono, Menlo, Courier, monospace;
            outline: none;
            resize: none;
        }
    }
}


.media-container.pdf {
    background-color: rgb(61, 61, 61);
    overflow: auto;

    .pdfjs-document {
        @include vp-flexbox;
        @include vp-flex-direction(column);
        @include vp-align-items(center);

        padding-top: 5px;
        position: relative;

        .page {
            margin-bottom: 5px;
            position: relative;
        }
    }
}


.media-container.fullscreen {
    @include vp-flexbox;
    @include vp-flex-direction(column);
    @include vp-align-items(center);
    @include vp-justify-content(center);

    left: 0;
    bottom: 0;
    position: fixed;

    max-height: 100vh !important;
    max-width: 100vw !important;
    height: 100vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 0 !important;
    z-index: 9999;

    video {
        border-radius: 0 !important;
        max-height: 100% !important;
        max-width: 100% !important;

        height: 100%;
        width: 100%;

        object-fit: contain;
        position: relative;
    }
}
