nav {
    @include vp-flexbox;
    @include vp-justify-content(center);

    @extend .noselect;

    background-color: transparent;
    height: auto;
    width: 100%;

    .material-icons {
        line-height: 64px;
    }

    .mobile, .desktop {
        max-width: 1600px;
        padding: 0 30px;
        width: 100%;
    }

    ul {
        @include vp-flexbox;
        @include vp-flex-flow(row nowrap);
    }

    a {
        @include vp-transition(opacity .3s ease-in-out);

        color: white;
        cursor: pointer;
        display: block;
        font-size: 14px;
        font-weight: 50;
        height: 64px;
        line-height: 64px;
        opacity: 0.7;
        padding: 0 15px;
        text-decoration: none;
    }
    a.active, a:hover, a:focus {
        opacity: 1;
    }

    .trigger {
        cursor: pointer;
        float: left;
    }

    .brand {
        @include vp-flexbox;
        @include vp-align-items(center);
        @include vp-justify-content(center);

        float: left;
        opacity: 0.8;
        width: 100px;

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    .mobile {
        .brand {
            float: none;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
        }
    }

    .divider {
        background-color: white;
        border-radius: 1px;
        height: 15px;
        opacity: 0.3;
        width: 2px;
    }

    ul {
        li {
            @include vp-flexbox;
            @include vp-flex-flow(row nowrap);
            @include vp-align-items(center);
        }
    }
}

.dropdown {
    top: 64px;
    position: absolute;

    background-color: $filesGrey;
    border-radius: 5px;
}

.sidenav-overlay {
	height: 100%;
    width: 100%;

    top: 0;
    left: 0;
    position: fixed;

    background-color: black;
    opacity: 0.1;
	z-index: 9998;
}

.sidenav {
    @include vp-flexbox;
    @include vp-flex-flow(column wrap);

    height: 100%;
    width: 300px;

    top: 0;
    left: 0;
    position: fixed;

    background-color: $filesGrey;
    z-index: 9999;

	li {
		width: 100%;
	}

	a {
		padding: 0 30px;
    }

    .divider {
        @include vp-align-self(center);

        height: 2px;
        width: 90%;
    }
}
