.route.auth-login {
    @include vp-flexbox;
    @include vp-flex-direction(column);

    @extend .noselect;

    .auth-form {
        @include vp-flexbox;
        @include vp-flex-direction(column);
        @include vp-align-items(center);
        @include vp-justify-content(center);

        background-color: $filesBlack;
        border-radius: 15px;
        margin-top: 15px;
        max-width: 80vw;
        width: 600px;
        padding: 5px 10px;
        position: relative;

        .wrapper {
            @include vp-flexbox;
            @include vp-flex-direction(column);
            @include vp-justify-content(center);

            height: 90%;
            width: 90%;

            padding: 40px;

            .title {
                text-align: center;

                .header {
                    color: white;
                    font-size: 26px;
                    font-weight: 300;
                    line-height: 32px;
                }
            }

            .information {
                @include vp-flexbox;
                @include vp-flex-direction(column);
                @include vp-justify-content(center);

                .fields {
                    @include vp-flexbox;
                    @include vp-flex-direction(column);
                    @include vp-justify-content(center);

                    margin: 10px 0;

                    input, input:focus {
                        background-color: transparent;
                        border: none;
                        color: white;
                        outline: none;
                    }

                    input {
                        @include vp-transition(border-bottom .15s ease-in-out);

                        font-size: 16px;
                        font-weight: 400;

                        border-bottom: 1px solid $filesGreyLightish;
                    }
                    input:focus {
                        border-bottom: 1px solid $filesGreen;
                    }

                    .field {
                        @include vp-flexbox;
                        @include vp-flex-direction(column);
                        @include vp-align-items(center);

                        margin: 12px 0;

                        .label {
                            @include vp-transition(color .15s ease-in-out);

                            color: $filesGreyLighter;
                            font-size: 12px;
                            letter-spacing: .5px;
                            width: 100%;

                            span {
                                @include vp-transition(color .15s ease-in-out);
                            }
                            span.type {
                                font-weight: 600;
                                text-transform: uppercase;
                            }
                            span.error {
                                font-style: 'italic';
                                font-weight: 400;

                                .separator {
                                    padding: 0 4px;
                                }
                            }
                        }
                        .label.active {
                            color: $filesGreen;
                        }

                        input {
                            margin-top: 6px;
                            min-width: 15vw;
                            padding: 6px 0;
                            width: 100%;
                        }
                    }

                    .field.invalid {
                        .label {
                            span {
                                color: $filesRed;
                            }
                        }
                        input {
                            border-bottom: 1px solid $filesRed;
                        }
                    }
                }

                .forgot {
                    @include vp-flexbox;
                    @include vp-flex-direction(row);

                    color: $filesGreyLight;
                    font-size: 14px;
                    line-height: 16px;
                    margin: 10px 0;
                    width: 100%;

                    span {
                        @include vp-transition(color .15s ease-in-out);

                        color: $filesGreen;
                        cursor: pointer;
                        margin: 0 4px;
                    }
                    span:hover {
                        color: rgba($filesGreen, 0.6);
                    }
                }

                .submit {
                    @include vp-flexbox;
                    @include vp-flex-direction(row);
                    @include vp-justify-content(center);

                    margin: 5px 0;

                    span {
                        @extend .btn;

                        width: 100%;
                    }
                }

                .flip {
                    @include vp-flexbox;
                    @include vp-flex-direction(row);

                    color: $filesGreyLight;
                    font-size: 14px;
                    line-height: 16px;
                    margin: 10px 0;
                    width: 100%;

                    span {
                        margin: 0 4px;
                    }

                    .flipper {
                        @include vp-transition(color .15s ease-in-out);

                        color: $filesGreen;
                        cursor: pointer;
                    }
                    .flipper:hover {
                        color: rgba($filesGreenDark, 0.6);
                    }
                }

                .captcha {
                    @include vp-flexbox;
                    @include vp-flex-direction(row);
                    @include vp-justify-content(center);

                    margin-top: 60px;

                    .g-recaptcha {
                        margin: 8px;

                        right: 0;
                        bottom: 0;
                        position: absolute;

                        .grecaptcha-badge {
                            box-shadow: $filesGrey 0px 0px 5px !important;
                        }
                    }
                }
            }
        }
    }

    .popup-modal {
        .error {
            color: $filesRed;
        }
    }
}