.route.dashboard-files {
    @include vp-flexbox;
    @include vp-flex-direction(column);
    @include vp-justify-content(center);

    height: calc(100vh - 64px);

    .message {
        @include vp-flexbox;
        @include vp-align-items(center);
        @include vp-justify-content(center);

        span {
            font-size:  14px;
            opacity: 0.4;
            text-align: center;
            text-transform: uppercase;
        }
    }

    .main-modal {
        @include vp-flex-grow(1);
        @include vp-flexbox;
        @include vp-flex-direction(column);
        @include vp-align-items(center);
        @include vp-justify-content(center);

        max-height: 100%;

        .files {
            @include vp-flexbox;
            @include vp-box-sizing(border-box);

            height: 100%;
            width: 80vw;
            overflow: auto;
            padding: 10px 0;
        }

        .files.view-content {
            @include vp-flex-direction(column);

            .file {
                @include vp-flex-shrink(0);
                @include vp-flexbox;
                @include vp-flex-direction(row);

                border-bottom: 1px solid rgba($filesBlack, 0.9);
                cursor: pointer;
                padding: 5px 0;

                max-height: 40px;
                width: 100%;

                .header {
                    @include vp-flexbox;
                    @include vp-align-items(center);
                    @include vp-justify-content(center);

                    max-height: 100%;

                    .media-container {
                        height: 32px;
                        width: 32px;
                        margin: 0 10px;

                        .compact {
                            border-radius: 5px;
                            height: 32px;
                            width: 32px;
                        }
                    }
                    .icon {
                        @include vp-flexbox;
                        @include vp-align-items(center);
                        @include vp-justify-content(center);

                        color: $filesGreyLight;
                        margin: 0 10px;

                        .material-icons {
                            font-size: 32px;
                        }
                    }
                }

                .fields, .footer {
                    @include vp-flex-shrink(0);
                    @include vp-flexbox;
                    @include vp-flex-direction(row);

                    width: 50%;

                    .field {
                        @include vp-flexbox;
                        @include vp-flex-direction(column);
                        @include vp-justify-content(center);

                        width: 50%;

                        .info {
                            @include vp-flexbox;
                            @include vp-flex-direction(row);

                            span {
                                font-size: 12px;
                                font-weight: 100;
                                opacity: 0.5;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;

                                margin: 0 1px;
                            }
                            span.category {
                                opacity: 0.4;
                                overflow: visible;
                                text-overflow: clip;
                            }
                            span.title {
                                opacity: 0.9;
                            }
                        }
                    }
                }
                .footer {
                    @include vp-flex-shrink(1);

                    .field {
                        @include vp-flex-grow(1);
                        width: auto;
                    }
                }
            }
            .file:hover, .file:focus {
                background-color: rgba($filesGreyLightish, 0.9);
            }
        }

        .files.view-tiles {
            @include vp-flexbox;
            @include vp-flex-direction(row);
            @include vp-flex-wrap(wrap);
            @include vp-justify-content(center);

            .file {
                @include vp-flex-shrink(0);
                @include vp-flexbox;
                @include vp-flex-direction(row);

                @include vp-box-sizing(border-box);

                @extend .noselect;

                border-radius: 5px;
                cursor: pointer;
                margin: 5px;
                padding: 0 5px;

                height: 64px;
                width: 225px;

                .header {
                    @include vp-flexbox;
                    @include vp-align-items(center);
                    @include vp-justify-content(center);

                    max-height: 100%;

                    .media-container {
                        height: 48px;
                        width: 48px;
                        margin: 0 10px;

                        .compact {
                            border-radius: 5px;
                            height: 48px;
                            width: 48px;
                        }
                    }
                    .icon {
                        @include vp-flexbox;
                        @include vp-align-items(center);
                        @include vp-justify-content(center);

                        color: $filesGreyLight;
                        margin: 0 10px;

                        .material-icons {
                            font-size: 48px;
                        }
                    }
                }

                .fields {
                    @include vp-flex-grow(1);
                    @include vp-flexbox;
                    @include vp-flex-direction(column);
                    @include vp-justify-content(center);

                    min-width: 0;

                    .field {
                        @include vp-flexbox;
                        @include vp-flex-direction(column);
                        @include vp-justify-content(center);

                        span {
                            font-size: 12px;
                            font-weight: 100;
                            opacity: 0.4;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        span.title {
                            opacity: 0.9;
                        }
                    }
                }
            }
            .file:hover, .file:focus {
                background-color: rgba($filesGreyLightish, 0.9);
            }
        }

        .files.view-details {
            @include vp-flex-direction(column);

            .file {
                @include vp-flex-shrink(0);
                @include vp-flexbox;
                @include vp-flex-direction(row);

                @include vp-box-sizing(border-box);

                @extend .noselect;

                cursor: pointer;
                margin: 1px 0;

                height: 24px;
                width: 100%;

                .header {
                    @include vp-flexbox;
                    @include vp-align-items(center);
                    @include vp-justify-content(center);

                    max-height: 100%;

                    .icon {
                        @include vp-flexbox;
                        @include vp-align-items(center);
                        @include vp-justify-content(center);

                        color: $filesGreyLight;
                        margin: 0 2px;

                        .material-icons {
                            font-size: 20px;
                        }
                    }
                }

                .fields {
                    @include vp-flex-grow(1);
                    @include vp-flexbox;
                    @include vp-flex-direction(row);
                    @include vp-align-items(center);

                    min-width: 0;

                    .field {
                        @include vp-flexbox;
                        @include vp-flex-direction(column);
                        @include vp-justify-content(center);

                        margin: 0 2px;
                        width: 18%;

                        span {
                            font-size: 12px;
                            font-weight: 100;
                            opacity: 0.4;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                    .field.filename {
                        width: 40%;

                        span {
                            opacity: 0.9;
                        }
                    }
                }
            }
            .file:hover, .file:focus {
                background-color: rgba($filesGreyLightish, 0.9);
            }
        }

        .files.view-list {
            @include vp-flexbox;
            @include vp-flex-direction(column);
            @include vp-flex-wrap(wrap);

            .file {
                @include vp-flex-shrink(0);
                @include vp-flexbox;
                @include vp-flex-direction(row);

                @include vp-box-sizing(border-box);

                @extend .noselect;

                cursor: pointer;
                margin: 1px 0;

                max-width: 100%;
                height: 25px;
                width: 400px;

                .header {
                    @include vp-flexbox;
                    @include vp-align-items(center);
                    @include vp-justify-content(center);

                    max-height: 100%;

                    .icon {
                        @include vp-flexbox;
                        @include vp-align-items(center);
                        @include vp-justify-content(center);

                        color: $filesGreyLight;
                        margin: 0 2px;

                        .material-icons {
                            font-size: 20px;
                        }
                    }
                }

                .fields {
                    @include vp-flex-grow(1);
                    @include vp-flexbox;
                    @include vp-flex-direction(row);
                    @include vp-align-items(center);

                    min-width: 0;

                    .field {
                        @include vp-flexbox;
                        @include vp-flex-direction(column);
                        @include vp-justify-content(center);

                        @include vp-box-sizing(border-box);

                        max-width: 100%;
                        padding: 0 2px;

                        span {
                            font-size: 12px;
                            font-weight: 100;
                            opacity: 0.9;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }
            }
            .file:hover, .file:focus {
                background-color: rgba($filesGreyLightish, 0.9);
            }
        }

        .files.view-icons, .files.view-large-icons {
            @include vp-flexbox;
            @include vp-flex-direction(row);
            @include vp-flex-wrap(wrap);
            @include vp-align-items(flex-start);

            .file {
                @include vp-flex-shrink(0);
                @include vp-flexbox;
                @include vp-flex-direction(column);

                @extend .noselect;

                margin: 5px;

                height: 135px;
                width: 80px;

                .content {
                    border-radius: 5px;
                    cursor: pointer;
                    max-height: 100%;
                    max-width: 100%;

                    .header {
                        @include vp-flexbox;
                        @include vp-align-items(center);
                        @include vp-justify-content(center);

                        padding-top: 5px;

                        .media-container {
                            height: 48px;
                            width: 48px;

                            .compact {
                                border-radius: 5px;
                                height: 48px;
                                width: 48px;
                            }
                        }
                        .icon {
                            @include vp-flexbox;
                            @include vp-align-items(center);
                            @include vp-justify-content(center);

                            color: $filesGreyLight;

                            .material-icons {
                                font-size: 48px;
                            }
                        }
                    }

                    .fields {
                        @include vp-flex-shrink(0);
                        @include vp-flexbox;

                        @include vp-box-sizing(border-box);

                        padding-top: 5px;

                        max-height: calc(100% - 48px - 5px);

                        .field {
                            @include vp-flexbox;
                            @include vp-flex-direction(column);
                            @include vp-align-items(center);
                            @include vp-justify-content(center);

                            max-height: 100%;
                            width: 100%;

                            span {
                                max-width: 100%;

                                font-size: 12px;
                                font-weight: 100;
                                opacity: 0.9;
                                overflow: auto;
                                text-overflow: ellipsis;
                                text-align: center;
                                word-wrap: break-word;
                            }
                            span::-webkit-scrollbar {
                                display: none;
                            }
                        }
                    }
                }
                .content:hover, .content:focus {
                    background-color: rgba($filesGreyLightish, 0.9);
                }
            }
        }
        .files.view-large-icons {
            .file {
                height: 250px;
                width: 150px;

                .content {
                    .header {
                        .media-container {
                            height: 96px;
                            width: 96px;

                            .compact {
                                height: 96px;
                                width: 96px;
                            }
                        }
                        .icon {
                            .material-icons {
                                font-size: 96px;
                            }
                        }
                    }
                    .fields {
                        max-height: calc(100% - 96px - 5px);

                        .field {
                            span {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }

        /*
        .files {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            height: 100%;
            width: 100%;
            overflow: auto;
            padding: 10px 5vw;
            box-sizing: border-box;

            .file {
                display: flex;
                flex-direction: column;

                background-color: $filesGreyDark;
                border-radius: 5px;
                box-shadow: 0 9px 30px rgba(6, 6, 7, 0.3);
                box-sizing: border-box;
                margin: 5px;
                padding: 5px;

                height: 100px;
                width: 275px;
    
                .header {
                    display: flex;
                    flex-direction: row;

                    .thumbnail {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .media-container {
                            height: 32px;
                            width: 32px;
                            margin: 0 10px;

                            .compact {
                                height: 32px;
                                width: 32px;
                            }
                        }
                        .icon {
                            display: flex;
                            align-items: center;
                            justify-content: center;
    
                            color: $filesGreyLight;
                            margin: 0 10px;
    
                            .material-icons {
                                font-size: 32px;
                            }
                        }
                    }

                    .information {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        min-width: 0;

                        .filename {
                            color: $filesGreyLightest;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        .filesize {
                            color: $filesGreyLight;
                        }
                    }
                }
                .fields {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;

                    margin: 5px 0;

                    .url {
                        flex-grow: 1;

                        input {
                            border: none;
                            color: rgba(255, 255, 255, 0.4);
                            text-align: center;
                            text-overflow: ellipsis;
                            width: 100%;
                        }
                    }

                    .views {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;

                        span {
                            color: $filesGreyLight;
                            font-size: 16px;
                            margin: 0 1px;
                        }
                    }
                }
                .footer {
                    .timestamp {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 2px 0;

                        span {
                            color: $filesGreyLight;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        */
    }

    .dashboard-file-modal {
        @include vp-flexbox;
        @include vp-align-items(center);
        @include vp-justify-content(center);

        background-color: rgba(0, 0, 0, 0.5);
        height: 100vh;
        width: 100vw;

        top: 0;
        left: 0;
        position: fixed;
        z-index: 9997;

        .modal-file {
            z-index: inherit;
        }
    }


    @media only screen and (max-width: $mobileWidth) {
        .main-modal {
            .files {
                width: 95vw;
            }

            .files.view-content {
                .file {
                    .fields, .footer {
                        width: 500px;
                    }
                }
            }
            .files.view-icons, .files.view-large-icons {
                @include vp-justify-content(center);
            }
        }
    }
}
