.route.options {
    @include vp-flexbox;
    @include vp-flex-direction(column);
    @include vp-justify-content(center);

    .option-modal {
        @include vp-flexbox;
        @include vp-flex-direction(row);
        @include vp-align-items(center);
        @include vp-justify-content(center);

        @include vp-box-shadow(0 9px 30px rgba(6, 6, 7, 0.3));
        @include vp-box-sizing(border-box);

        height: 70vh;
        width: 75vw;

        min-height: 650px;

        background-color: $filesGreyDark;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 25px;
        padding: 10px;

        .navigation {
            @include vp-flexbox;
            @include vp-flex-direction(column);

            height: 100%;
            padding: 0 5px;

            .section {
                @include vp-flex-shrink(0);
                @include vp-flexbox;
                @include vp-flex-direction(column);

                @extend .noselect;

                .divider {
                    margin: 10px 0;
                    width: 100%;
                }

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .title {
                    @include vp-box-sizing(border-box);

                    color: $filesGreyLight;
                    padding: 5px 10px;
                    width: 100%;

                    span {
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 16px;
                        text-transform: uppercase;
                    }
                }
                .option {
                    @include vp-box-sizing(border-box);

                    @include vp-transition(
                        color .15s ease-in-out,
                        background-color .15s ease-in-out);

                    border-radius: 5px;
                    color: $filesGreyLighter;
                    cursor: pointer;
                    margin-bottom: 10px;
                    padding: 10px;
                    width: 100%;

                    span {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 20px;
                    }
                }
                .option:hover, .option:focus {
                    background-color: $filesGrey;
                    color: white;
                }
                .option.active {
                    background-color: $filesGreyLightish;
                    color: white;
                }
            }
        }
        .content {
            @include vp-flexbox;
            @include vp-flex-direction(column);

            height: 100%;
            width: 100%;

            .modal {
                @include vp-align-self(flex-end);

                height: 100%;
                width: 95%;

                overflow: auto;

                .section {
                    width: 95%;

                    .header {
                        @include vp-flexbox;
                        @include vp-flex-direction(column);

                        margin-bottom: 10px;

                        span {
                            color: white;
                            font-size: 12px;
                            margin-bottom: 2px;
                            opacity: 0.6;
                        }
                        span.title {
                            font-size: 16px;
                            font-weight: 700;
                            opacity: 1;
                            text-transform: uppercase;
                        }
                    }

                    .fields {
                        @include vp-flexbox;
                        @include vp-flex-direction(column);
                        @include vp-align-items(center);

                        .field {
                            margin-bottom: 10px;
                            width: 100%;

                            .text-editor {
                                @include vp-flexbox;
                                @include vp-flex-direction(column);
                                @include vp-align-items(center);

                                height: 300px;
                                width: 100%;
                            }

                            .items {
                                @include vp-flexbox;
                                @include vp-flex-direction(column);

                                @extend .noselect;

                                .item {
                                    @include vp-flex-grow(1);
                                    @include vp-flexbox;
                                    @include vp-flex-direction(row);

                                    background-color: $filesBlack;
                                    border-radius: 5px;
                                    border: 1px solid black;
                                    cursor: pointer;
                                    margin-bottom: 5px;
                                    padding: 10px;

                                    input {
                                        height: 24px;
                                        width: 24px;
                                        display: none;
                                    }

                                    .checkbox {
                                        @include vp-transition(
                                            background-color .15s ease-in-out,
                                            border .15s ease-in-out);

                                        border: 1px solid $filesGreyLight;
                                        border-radius: 3px;
                                        height: 24px;
                                        width: 24px;
                                        position: relative;
                                    }
                                    .checkbox:after {
                                        content: '';
                                        display: none;
                                        position: absolute;
                                    }
                                    input:checked ~ .checkbox {
                                        background-color: $filesGreen;
                                        border: 1px solid $filesGreen;
                                    }
                                    input:checked ~ .checkbox:after {
                                        @include vp-transform(rotate(45deg));

                                        display: block;
                                        left: 9px;
                                        top: 5px;
                                        width: 5px;
                                        height: 10px;
                                        border: solid white;
                                        border-width: 0 3px 3px 0;
                                    }

                                    .label {
                                        @include vp-flexbox;
                                        @include vp-align-items(center);

                                        margin: 0 9px;

                                        span {
                                            font-size: 16px;
                                            font-weight: 500;
                                            line-height: 24px;
                                        }
                                    }
                                }
                                .item:hover {
                                    .checkbox {
                                        background-color: rgba($filesGreen, 0.7);
                                        border: 1px solid rgba($filesGreen, 0.7);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: $mobileWidth) {
        .option-modal {
            width: 95vw;
        }
    }
}
