.page.file {
	@extend .d-flex;
	@extend .flex-column;
	@extend .justify-content-center;
	@extend .align-items-center;

	.zoom {
		@extend .d-flex;
		@extend .flex-column;
		@extend .justify-content-center;

		position: absolute;
		height: 100%;
		width: 100%;
		top: 0%;
		bottom: 0;
		left: 0%;
		right: 0%;
		margin: 0;
		background-color: rgba(0, 0, 0, 0.5);
		cursor: zoom-out;

		img {
			@extend .img-fluid;
			@extend .rounded;
			@extend .mx-auto;
			@extend .d-block;

			max-height: 100%;
			max-width: 100%;
		}
	}

	.context {
		@extend .d-flex;
		@extend .flex-column;
		@extend .justify-content-center;

		max-height: 100%;
		max-width: 100%;
		margin: 25px 0;

		.file {
			@extend .d-flex;
			@extend .flex-column;
			@extend .justify-content-center;

			background-color: rgb(47, 49, 54);
			border-radius: 5px;

			img {
				@extend .img-fluid;
				@extend .rounded;
				@extend .mx-auto;
				@extend .d-block;

				max-height: 80%;
				max-width: 80%;

				border: 1px solid $filesBlack;
				border-radius: 5px;

				cursor: zoom-in;
			}

			img.icon {
				max-height: 256px;
				max-width: 256px;
				border: none;

				cursor: default;
			}

			audio {
				width: 50vmin;
				border-radius: 5px 5px 0 0;
			}

			audio::-webkit-media-controls-panel,
			video::-webkit-media-controls-panel {
				background-color: rgba(42, 44, 49, 0.9);
			}

			.mimetype {
				color: rgb(114, 118, 125);
				text-align: center;
			}

			pre {
				background-color: $filesBlack;
				border-radius: 5px 5px 0 0;

				code {
					color: white;
				}

				code.text {
					white-space: pre-wrap;
				}
			}
		}

		.footer {
			@extend .d-flex;
			@extend .flex-row;
			@extend .justify-content-between;

			padding-top: 15px;
			color: rgb(114, 118, 125);

			div {
				@extend .d-flex;
				@extend .flex-column;

				width: 50%;
				max-width: 50vmin;

				span {
					word-wrap: break-word;
					max-width: 100%;
				}
			}
			.left {
				span {
					text-align: left;
				}
			}
			.right {
				span {
					text-align: right;
				}
				a {
					@extend .align-self-end;
				}
			}

			.filesize {
				color: white;
			}

			.download {
				@extend .btn;

				background-color: $filesGreen;
				color: $filesBlack;
			}
			.download:hover, .download:focus {
				background-color: $filesGreenDark
			}
		}
	}
}